#banner-titolo {
    height: 175px; ;
    width: 100%;
    background-image: url(img/pattern.png);
    background-color: #4996ef;
    background-repeat: repeat-x;
}

#booleaner-logo {
    height: 30%;
    width: auto;
}

.grey-title {
    color: grey;
}

a {
    text-decoration: none;
    color: #31b0e7;
  }

  .highlighter {
    background-color: yellow;
  }

  table {
    text-align: left;
    table-layout: auto;
  }

  thead {
    background-color: #20a9e5;
    color: white;
  }

  .color-line {
    background-color: #b1e5f2;
  }

  #article-1 {
    background-image: url(img/monitor.jpg);
  }

  #article-2 {
    background-image: url(img/graph.jpg);
}

.photogrid {
    height: 150px;
    width: 200px;
    color: white;
    font-weight: bold;
}